@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

li {
    margin-left: 16px;
}

a {
    cursor: pointer;
}

.container {
    max-width: 991px;
    width: 95%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.barra-ferramenta {
    padding: 16px;
    background: #eee;
}

.barra-ferramenta .head{
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.barra-ferramenta .head > input {
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}

.barra-ferramenta .head select {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.barra-ferramenta .head .cor {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}

.barra-ferramenta .head .cor span {
    font-size: 14px;
}

.barra-ferramenta .head .cor input {
    border: none;
    padding: 0;
    width: 26px;
    height: 26px;
    background: #fff;
    cursor: pointer;
}

.barra-ferramenta .head .cor input::-webkit-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.barra-ferramenta .btn-barra-ferramenta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}

.barra-ferramenta .btn-barra-ferramenta button {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.barra-ferramenta .btn-barra-ferramenta button:hover {
    background: #f3f3f3;
}

#content {
    padding: 16px;
    outline: none;
}

#codigo[data-active="true"] {
    background: #eee;
}

.eu {
    color: #9c9c9c;
    margin: 10px;
}